@import "../../assets/sass/vars.scss";
@import "../../assets/sass/functions.scss";

.checkbox{
    display: flex;
    align-items: flex-start;
    font-size: pxToRem(14);
    display: flex;
    align-items: center;

    @media (min-width: 750px) {
        font-size: 1rem;
    }
    
    span{
        line-height: pxToRem(25);
        color: $grey2;
        font-size: pxToRem(10);
    }

    i{
        font-weight: 500;
    }

    input[type=checkbox]{
        display: none;

        & + div{
            width: 16px;
            height: 16px;
            border-radius: 4px;
            flex-shrink: 0;
            border: solid 1.5px $grey3;
            margin-right: pxToRem(8);
            background-size: cover;
            overflow: hidden;
            position: relative;

            &::before{
                content: '';
                position: absolute;
                inset: 0;
                margin: auto;
                background: url(./icon-check.svg) no-repeat center center;
                background-size: cover;
                transition: opacity .2s ease,
                            transform .2s ease;
                opacity: 0;
                transform: rotate(-90deg) scale(.5);

            }

        }

        &:checked + div:before{
            opacity: 1;
            transform: rotate(0) scale(1);
        }

    }
}