---
import Layout from '../layouts/Layout.astro';
import "../assets/sass/main.scss";
---

<Layout title="Checkout page - luisangelsalcedo">
	<div class="page">
		<h1>Checkout page</h1>
	</di>
</Layout>
