---
import {Layout, Header, Footer, ContactInformation, Checkout} from '../layouts';
import "../assets/sass/main.scss";
---

<Layout title="Checkout page - luisangelsalcedo">
	<div class="page">
		<Header />
		<div class="content">
			<div class="container">
				<aside>
					<Checkout />
				</aside>
				<main>
					<ContactInformation />
				</main>
			</div>
		</div>
		<Footer></Footer>
	</di>
</Layout>
