---
import "./InputWithIcon.scss";


interface Props{
    label: string;
    placeholder: string;
    name: string;
    required?: boolean;
}



const {label, placeholder, name, required} = Astro.props;
---
<label class="input input-withicon">
    <span>{label}</span>
    <div class="input-box">
        <slot />
        <input class="form-control" type="text" name={name} placeholder={placeholder} required={required} />
    </div>
</label>