@import "../../assets/sass/vars.scss";
@import "../../assets/sass/functions.scss";

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: pxToRem(16);

    span{
        font-size: pxToRem(10);
        margin-bottom: pxToRem(5);
    }

    .form-control{
        border: 0;
        outline: none;
        background-color: transparent;
        font-size: pxToRem(12);
        font-weight: 600;
        font-family: $font-primary;
        flex: 1;
        color: $grey1;
        width: 100%;

        &[type=number]::-webkit-inner-spin-button, 
        &[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
        }

        &[type=number] {
            -moz-appearance:textfield;
        }
    }
    
    &-box{
        border: 1.5px solid $grey3;
        border-radius: pxToRem(12);
        padding: 0 pxToRem(10);
        height: 40.5px;
        display: flex;
        align-items: center;

        svg{
            margin-right: pxToRem(10);
            width: 18px;
        }
    }
    
}