---
import { CheckBoxComponent, InputWithIcon, SelectWithIcon, SimpleButton } from "../components";
import { EmailIcon, PhoneIcon, AccountIcon, HomeIcon, CityIcon, PostalIcon  } from "../components/icons";
import { contryList } from "../helpers/contries";
---
<form>
    <section>
        <h3>Contact information</h3>

        <InputWithIcon 
            label="E-mail" 
            name="email"
            placeholder="Enter your email..." 
            type="email"
            >
            <EmailIcon />
        </InputWithIcon>

        <InputWithIcon 
            label="Phone" 
            name="phone" 
            placeholder="Enter your phone..." 
            type="number"
            >
            <PhoneIcon />
        </InputWithIcon>
    </section>

    <section>
        <h3>Shipping address</h3>

        <InputWithIcon            
            label="Full name" 
            name="fullname" 
            placeholder="Your name.." 
            >
            <AccountIcon />
        </InputWithIcon>

        <InputWithIcon 
            label="Address" 
            name="address" 
            placeholder="Your address.." 
            >
            <HomeIcon />
        </InputWithIcon>

        <InputWithIcon 
            label="City" 
            name="city" 
            placeholder="Your city.." 
            >
            <CityIcon />
        </InputWithIcon>

        <SelectWithIcon 
            label="Country" 
            name="country" 
            placeholder="Your country.."   
            
            list={contryList}>
            <CityIcon />
        </SelectWithIcon>

        <InputWithIcon 
            label="Postal code" 
            name="postalcode" 
            placeholder="Your postal code.." 
            >
            <PostalIcon />
        </InputWithIcon>
    </section>

    <section>
        <CheckBoxComponent >Save this information for next time</CheckBoxComponent>
        <SimpleButton>Continue</SimpleButton>
    </section>
</form>
<div class="modal">
    <div class="modal-box">message</div>
</div>


<style>
    form section:nth-child(1){
        margin-bottom: 45px;
    }
    h3{
        margin-bottom: 12px;
    }
    .modal{
        display: none;
    }
    .modal.show{
        display: block;
    }
</style>

<script>
    const form = document.querySelector("form");

    form.addEventListener("submit", async (e:any)=>{
        e.preventDefault();
        const formData = new FormData(e.currentTarget);
        // console.log(Object.fromEntries(formData))
        try {
            const response = await validationData(formData)
            showModal(response)
            // send data 
        } catch (err) {
            showModal(err)
        }        
    })

    function validationData(fd){
        return new Promise((resolve, reject) => {
            for (const input of fd.entries()) {
                const [key, value] = input;
                // simple validation
                if (value === "") reject(`❌ Validation fails\n⚠️ ${key} field is empty`);
            }
            resolve("✅ Validation succeeds");
        })
    }

    function showModal(message){
        const modal = document.querySelector(".modal");
        modal.classList.add("show");
        modal.querySelector(".modal-box").innerHTML = message;
        hideModal();
    }

    function hideModal(){
        const modal = document.querySelector(".modal");
        const timer = setTimeout(() => {
            modal.classList.remove("show");
            clearInterval(timer)
        }, 3000);
    }
</script>