$default: #4E5150;
$grey1: #333;
$grey2: #4F4F4F;
$grey3: #828282;
$grey4: #BDBDBD;
$grey5: #E0E0E0;
$grey6: #F2F2F2;
$grey-footer: $grey3;
$orange: #F2994A;

$font-primary: 'Montserrat', sans-serif;
$font-footer: $font-primary;
$rootFontSize: 16;